
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

@model List<WareHouse.UI.Areas.Admin.Models.DTO.ProductDTO>

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/AdminHomeIndex"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/Product/AddProduct">Add Product</a></li>
        <li class="active">Product List</li>
    </ol>
</section>
<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Products</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Unit Price</th>
                                <th>Unit In Stock</th>
                                <th>Category Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.UnitPrice</td>
                                <td>@item.UnitsInStock</td>
                                <td>@item.CategoryName</td>
                                <td><a href="/Admin/Product/UpdateProduct/@item.ID" type="button" class="btn btn-block btn-warning">Update</a></td>
                                <td><a href="/Admin/Product/DeleteProduct/@item.ID" type="button" class="btn btn-block btn-danger">Delete</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

